/* HERO SECTION */
.hero {
  position: relative;
  min-height: calc(100vh - 72px); /* header height */
  background: url("/hero-car.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

/* Dark overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(11, 11, 15, 0.9),
    rgba(11, 11, 15, 0.5)
  );
}

/* CONTENT */
.content {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.content h1 {
  font-size: 55px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.content h1 span {
  color: #c89b3c;
}

.content p {
  text-align: center;
  font-size: 20px;
  color: #cfcfd6;
  margin-bottom: 32px;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  /* CONTENT */
  .content h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .content p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .hero {
    min-height: calc(95vh - 72px); /* header height */
  }

  /* CONTENT */
  .content h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .content p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px;
  }
}
