.section {
  padding: 30px 20px;
  text-align: center;
  background: #0f172a;
}

.section h2 {
  font-size: 38px;
  margin: 0px;
}

.subtitle {
  color: #94a3b8;
  margin-top: 8px;
  margin-bottom: 30px;
}

.grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 14px;
  padding: 30px 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.card svg {
  font-size: 36px;
  color: #c89b3c;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 8px;
}

.card p {
  color: #9ca3af;
  font-size: 14px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(200, 155, 60, 0.25);
}

/* Responsive */
@media (max-width: 900px) {
  .section {
    padding: 60px 20px;
  }

  .section h2 {
    margin: 0px;
  }

  .subtitle {
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 25px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 45px;
  }

  .card {
    border-radius: 12px;
    padding: 25px 10px;
  }

  .card svg {
    margin: 0px;
  }

  .card h3 {
    margin: 0px;
  }

  .card p {
    font-size: 14px;
    margin-top: 8px;
  }
}

@media (max-width: 520px) {
  .section {
    padding: 40px 10px;
  }

  .section h2 {
    font-size: 28px;
    margin: 0px;
  }

  .subtitle {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 5px;
    gap: 15px;
  }

  .card {
    padding: 20px 8px;
  }

  .card svg {
    margin: 0px;
  }

  .card h3 {
    margin: 0px;
  }

  .card p {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
